body{
	margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}
h1{
	font-size: 5.625rem;
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
	color: #66BFBF;
}
h2{
    font-family: 'Montserrat', sans-serif;
	font-size: 2.5rem;
	font-weight: normal;
	color: #66BFBF;
}
h3{
    font-family: 'Montserrat', sans-serif;
	color: #11999E;
}
a{
	color: #11999E;
}

/* class styles*/
.profile-pic{
	height: 285px;
	width: 285px;
}
.forklift-pic{
	height: 285px;
	width: 285px;
}
.cable-plow{
	
}
.top-container{
	background-color: #E4F9F3;
    padding-top: 100px;
    position: relative;
}
.middle-container{
	
}
.bottom-container{
	
}
.top-clond{
    position: absolute;
        right: 300px;
        top: 50px;
}
.bottom-cloud{
    position: absolute;
        left: 300px;
        bottom: 300px;
}
.mountain{
    height: auto;
    max-width: 100%;
    width: auto;
}